/* root class */
:root {
  --universal-color: #263238;
  --universal-color2: #8f95a5;
  --card-color: #f5f5f5;
  --heading-teg-color: #000000;
  --bg-color: rgb(255, 255, 255);
  --btn_hover: #212224;
}

/* universal class */
*::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* body class */
body {
  background-color: var(--bg-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* container class */
.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

/* universal class */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* universal class 2 */
.gap {
  gap: 1.5rem;
}

/* navbar start */
.header {
  background-color: transparent;
  border-block-end: 1px solid var(--heading-teg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  z-index: 1000;
}

/* nav ichida .logoni ichidagi imgga class */
.nav .logo img {
  width: 90px;
  height: 25px;
}

.nav ul li a {
  text-transform: capitalize;
  color: var(--universal-color);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.3px;
}
.nav ul li a:hover {
  color: var(--universal-color2);
}

.nav ul li {
  position: relative;
}

.nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 100%;
  height: 2px;
  background-color: var(--universal-color2);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.nav ul li:hover::after {
  transform: scaleX(1);
}

.button {
  background: none;
  border: none;
  display: none;
}
/* navbar end */

/* home start */
.home {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.home div {
  width: 100%;
}

.home .home_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .home_content div {
  margin-top: 80px;
  width: 80%;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}
.home .home_content div img {
  margin-left: 83px;
}

.home .home_content p {
  padding-top: 20px;
  width: 50%;
  font-size: 0.9rem;
  color: var(--universal-color2);
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}

.home .home_img {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.home .home_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* home end */

/* skills start */
.skills {
  width: 100%;
  height: 100vh;
  gap: 1rem;
  margin-block-end: 2rem;
}

.skills h1 {
  font-size: 2rem;
  letter-spacing: 0.5px;
  padding-bottom: 80px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 8px;
  height: 100vh;
}

.parent div h1 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.parent div p {
  font-size: 0.9rem;
  color: var(--universal-color2);
  padding-bottom: 10px;
}

.div1 {
  grid-column: span 3 / span 3;
  grid-row: span 10 / span 10;
  height: 100%;
  border-radius: 10px;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
}
.div1 img {
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.div2 {
  grid-column: span 3 / span 3;
  grid-row: span 6 / span 6;
  grid-column-start: 4;
  border-radius: 10px;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
}

.div2 img {
  width: 80%;
  height: 55%;
  object-fit: cover;
}

.div3 {
  grid-column: span 3 / span 3;
  grid-row: span 6 / span 6;
  grid-column-start: 7;
  border-radius: 10px;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
}

.div3 img {
  width: 80%;
  height: 50%;
  object-fit: cover;
}

.div4 {
  grid-column: span 6 / span 6;
  grid-row: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 7;
  border-radius: 10px;
  background-color: var(--card-color);
  display: flex;
  align-items: flex-start;
  padding: 30px;
}

.div4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* skills end */

/* about start */



























@media screen and (max-width: 320px) {
  /* navbar media start */
  .container {
    padding: 13px;
  }
  ul li {
    display: none;
  }
  .button {
    display: block;
  }
  /* navbar media end */


  /* home media start */
  .home {
    margin-top: 50px;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
  }
  .home .home_content {
    width: 100%;
    align-items: center;
  }
  .home .home_content div {
    margin-top: 0;
    width: 100%;
  }
  .home .home_content div h3 {
    width: 100%;
    text-align: center;
    font-size: 1.93rem;
  }
  .home .home_content div img {
    display: none;
  }
  .home .home_content p {
    width: 100%;
    text-align: center;
    font-size: 1.03rem;
  }
  .home .home_img {
    width: 100%;
  }
  .home .home_img img {
    width: 100%;
    object-fit: cover;
  }
  /* home media end */

  /* skills media start */
  .skills h1 {
    font-size: 2.3rem;
  }
  .skills .parent {
    /* margin-top: 600px; */
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-end: 2rem;
  }
  .skills .parent div h1 {
    font-size: 2rem;
  }
  .skills .parent div p {
    font-size: 1rem;
    margin-block-end: 1rem;
  }
  .skills .parent .div1 {
    width: 100%;
    height: 100%;
  }
  .skills .parent .div2 {
    width: 100%;
    height: 100%;
  }
  .skills .parent .div3 {
    width: 100%;
    height: 100%;
  }
  .skills .parent .div4 {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }
  /* .skills .parent  */
  .skills .parent div .button2 {
    margin-block-end: 1rem;
  }
  /* skills media end */
}

@media screen and (max-width: 575px) {
  /* navbar responsev start */
  .container {
    padding: 15px 20px;
  }
  ul li {
    display: none;
  }
  .button img {
    width: 37px;
    cursor: pointer;
    color: var(--universal-color);
  }
  /* navbar responsev end */

  /* home responsev start */
  .home {
    margin-top: 50px;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
  }
  .home .home_content {
    width: 100%;
    align-items: center;
  }
  .home .home_content div {
    margin-top: 0;
    width: 100%;
  }
  .home .home_content div h3 {
    width: 100%;
    text-align: center;
    font-size: 1.93rem;
  }
  .home .home_content div img {
    display: none;
  }
  .home .home_content p {
    width: 100%;
    text-align: center;
    font-size: 1.03rem;
  }
  .home .home_img {
    width: 100%;
  }
  .home .home_img img {
    width: 100%;
  }
  /* home responsev end */

  /* skills media start */
  .skills h1 {
    font-size: 2.3rem;
  }
  .skills .parent {
    margin-top: 550px;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-end: 2rem;
  }
  .skills .parent div h1 {
    font-size: 2rem;
  }
  .skills .parent div p {
    font-size: 1rem;
    margin-block-end: 1rem;
  }
  .skills .parent .div1 {
    width: 100%;
    height: 100%;
  }
  .skillsv .parent .div1 img{
    object-fit: cover;
  }
  .skills .parent .div2 {
    width: 100%;
    height: 100%;
  }
  .skillsv .parent .div2 img{
    object-fit: cover;
  }
  .skills .parent .div3 {
    width: 100%;
    height: 100%;
  }
  .skillsv .parent .div3 img{
    object-fit: cover;
  }
  .skills .parent .div4 {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    margin-block-end: 2rem;
  }
  .skillsv .parent .div4 img{
    object-fit: cover;
  }
  .skills .parent div .button2 {
    margin-block-end: 1rem;
  }
  /* skills media end */
}

@media screen and (max-width: 767px) {
  .container {
    padding: 15px 25px;
  }
  ul li {
    display: none;
  }
  .button {
    display: block;
    color: var(--universal-color);
  }
  .home {
    margin-top: 50px;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
  }
  .home .home_content {
    width: 100%;
    align-items: center;
  }
  .home .home_content div {
    margin-top: 0;
    width: 100%;
  }
  .home .home_content div h3 {
    width: 100%;
    text-align: center;
    font-size: 1.93rem;
  }
  .home .home_content div img {
    display: none;
  }
  .home .home_content p {
    width: 100%;
    text-align: center;
    font-size: 1.03rem;
  }
  .home .home_img {
    width: 100%;
  }
  .home .home_img img {
    width: 100%;
  }
}